<!DOCTYPE html>
<html >
<head>
	<title>Componente</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>



<body>

<div>
	<h3>Este componente es <span name="nombreComponente"><%= name %></span></h3>

	Para acceder al servicio debe usar
	<br>
	<code>[IP]:[PUERTO]/api/rand/YYYYMMDD </code>
	<br>
	<br>
	<%var date = new Date(); %>
	Para pedir disponibilidad en la fecha <%= date1 %>
	<br> 
	<code>[IP]:[PUERTO]/api/rand/<%=date2%> </code>
</div>
	
</body>
</html>